/* MIXINS SECTION OPERATION */
/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BASE */
body {
  box-sizing: border-box;
}
body .operation {
  padding: 0 15px;
}
body .restaurants__bloc {
  padding: 0 15px;
}
body .footer__container {
  padding: 0 15px;
}
body .menu__heading {
  margin-bottom: 1.5rem;
}
body .menu__container {
  padding: 30px 15px 50px;
}
body .section__title {
  padding: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.menu__title {
  font-family: "Shrikhand";
}

.meal__title {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.meal-card__title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0.2rem 0;
}

.meal-card__detail {
  font-size: 0.9rem;
  font-weight: 300;
}

.meal-card__price {
  font-size: 0.9rem;
  font-weight: 700;
}

.fa-heart {
  font-size: 1.5rem;
}

.logo {
  height: 1.8rem;
}

.btn__search {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  box-shadow: 3px 3px 3px #d0d0d0;
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  width: 60%;
  cursor: pointer;
}
.btn__search:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 10px 10px 10px #d0d0d0;
  opacity: 0.8;
}

@keyframes enter {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-9999px);
  }
}
@keyframes bar {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.8);
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  z-index: 3;
  animation: enter 0s 4s ease-in-out both;
}
.spinner__bar {
  background: linear-gradient(170deg, #9356DC, #FF79DA);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  animation: bar 1000ms alternate-reverse infinite;
}

.core__empty::before {
  position: relative;
}
.core__empty::before:hover {
  display: none;
}

.core__full {
  position: absolute;
  right: 0.5px;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF79DA;
  opacity: 0;
}
.core__full:hover {
  transition: 2s;
  opacity: 1;
}

.meal-card:hover > .meal-card__hiddenbox {
  transform: scaleX(1);
  padding: 0 2rem;
  transition: all 500ms ease-in-out;
}

.meal-card:hover > .meal-card__hiddenbox > i {
  transform: rotate(-1turn);
  transition: all 500ms ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.meal-card {
  animation: fade 600ms ease-in-out both;
}

.meal-card--1 {
  animation-delay: 200ms;
}

.meal-card--2 {
  animation-delay: 500ms;
}

.meal-card--3 {
  animation-delay: 700ms;
}

.meal-card--4 {
  animation-delay: 900ms;
}

.header {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .location__pages {
  height: 2.8rem;
  width: 100%;
  box-shadow: inset 0px 3px 3px -1px gray;
  background: #e7e7e7;
}
.header .location__pages .location__content {
  display: flex;
  justify-content: center;
  padding: 0.8rem;
}
.header .location__pages .location__content .location__searching {
  border: none;
  width: 11rem;
  padding-left: 0.8rem;
  font-size: 1.2rem;
  background: #e7e7e7;
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #F4F4F4;
  height: 10rem;
  padding: 2.5rem 0;
}

.operation__step .step {
  padding: 1.2rem;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  background: #F4F4F4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.operation__step .step .step__number {
  background: #9356DC;
  color: white;
  padding: 5px 8px;
  margin-left: -3.2rem;
  border-radius: 100%;
  text-align: center;
}
.operation__step .step .operation__icon {
  font-size: 1.2rem;
  color: #757575;
}
.operation__step .step:hover {
  background: #e4d5f6;
  transform: scale(1.05);
  transition: 0.3s;
}
.operation__step .step:hover i {
  color: #9356DC;
}

.restaurants {
  background: #F4F4F4;
  padding: 1.5rem 0;
}
.restaurants__bloc {
  background: #F4F4F4;
}
.restaurants__bloc .restaurants__cards {
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
}
.restaurants__bloc .restaurants__cards .cards__tag {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #278870;
  padding: 0.3rem;
  border-radius: 3px;
}
.restaurants__bloc .restaurants__cards .cards__pic {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
}
.restaurants__bloc .cards__description {
  position: relative;
  padding: 0.8rem;
  line-height: 1.4rem;
}
.restaurants__bloc .cards__description .cards__title {
  margin: 0;
}
.restaurants__bloc .cards__description .cards__location {
  margin: 0;
}
.restaurants__bloc .cards__description .cards__btn {
  position: absolute;
  font-size: 1.5rem;
  color: #666666;
  right: 20px;
  top: 20px;
}

#footer {
  background: #333333;
}

.footer__container .footer__logo {
  filter: invert(1);
  width: 45%;
  margin-top: 1.2rem;
}
.footer__container .footer__items > a {
  color: white;
  line-height: 1.5rem;
}
.footer__container .footer__items > a .items__icon {
  width: 10%;
}

.headermenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.headermenu__logo {
  height: 1.8rem;
}
.headermenu__arrow {
  font-size: 1.3rem;
}

.menu__pic {
  max-height: 480px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.menu__container {
  background: #F4F4F4;
  border-radius: 35px 35px 0 0;
  position: relative;
  margin-top: -3rem;
}
.menu__container .menu__heading {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__container .meal {
  display: flex;
  flex-direction: column;
}
.menu__container .meal__title {
  border-bottom: 3px solid #99E2D0;
  height: 1.2rem;
  width: 2.5rem;
  margin-bottom: 1.2rem;
}
.menu__container .meal .meal-card {
  background: white;
  border-radius: 15px;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.menu__container .meal .meal-card__infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 70%;
  padding: 0.5rem;
  line-height: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
}
.menu__container .meal .meal-card__infos .meal-card__title, .menu__container .meal .meal-card__infos .meal-card__detail {
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__container .meal .meal-card__price {
  display: flex;
  align-items: flex-end;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.menu__container .meal .meal-card__hiddenbox {
  width: 0%;
  overflow: hidden;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  color: white;
}
.menu__container .meal .order {
  display: flex;
  justify-content: center;
}

/********************MEDIA QUERIES TABLET********************/
@media screen and (min-width: 768px) {
  /*******ACCUEIL*******/
  .header {
    height: 8rem;
  }
  .header .logo {
    height: 3rem;
    padding: 1rem;
  }

  .booking__title {
    font-size: 1.5rem;
  }

  .booking__logline {
    font-size: 1.2rem;
  }

  .btn__search {
    width: 30%;
    padding: 1.5rem;
  }

  .section__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .operation__bloc {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  .operation__bloc .operation__step {
    width: 50%;
  }
  .operation__bloc .operation__step .step__number {
    margin-left: -4.5rem;
  }

  .restaurants__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants__bloc .restaurants__cards {
    width: 85%;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__container .footer__logo {
    height: 2rem;
    width: 10rem;
    padding-bottom: 1.5rem;
  }
  .footer__container .footer__list {
    width: 100%;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer__container .footer__list .footer__items {
    text-align: center;
    width: 25%;
  }

  /*******MENUS*******/
  .headermenu {
    height: 3rem;
  }
  .headermenu .logo {
    height: 2.5rem;
  }
  .headermenu__arrow {
    font-size: 2rem;
  }

  .menu__container {
    margin-top: -15rem;
  }
  .menu__container .menu__heading {
    width: 100%;
  }
  .menu__container .menu__heading .core__full {
    right: 1rem;
  }
}
/********************MEDIA QUERIES DESKTOP********************/
@media screen and (min-width: 1199px) {
  /*******ACCUEIL*******/
  #main__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .location__pages {
    border-radius: 20px 20px 0 0;
  }

  .booking {
    border-radius: 0 0 20px 20px;
  }

  .operation__bloc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .operation__bloc .operation__step {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .operation__bloc .operation__step .step {
    width: 25%;
  }

  .restaurants {
    border-radius: 20px 20px 0 0;
  }

  .restaurants__bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .restaurants__bloc .restaurants__cards {
    width: 45%;
    margin-bottom: 3rem;
  }

  /*******MENUS*******/
  #main__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .headermenu .header__logo {
    left: 25rem;
  }

  .menu__container {
    margin-top: -15rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  .menu__container .meal {
    width: 30%;
    display: flex;
  }

  .btn__order {
    margin: 50px -15px 0 0;
    width: 100%;
    border-radius: 25px 0 0 25px;
  }
}

/*# sourceMappingURL=style.css.map */
