/* MIXINS SECTION OPERATION */
/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BASE */
body {
  box-sizing: border-box;
}
body .operation {
  padding: 0 15px;
}
body .restaurants__bloc {
  padding: 0 15px;
}
body .footer__container {
  padding: 0 15px;
}
body .menu__container {
  padding: 30px 15px 50px;
}
body .section__title {
  padding: 1rem 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.menu__title {
  font-family: "Shrikhand";
}

.meal__title {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.meal__name {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0.2rem 0;
}

.meal__contentdescrip {
  font-size: 0.8rem;
  font-weight: 300;
}

.meal__contentprice {
  font-size: 0.9rem;
  font-weight: 700;
}

.fa-heart {
  font-size: 1.5rem;
}

.btn__search {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  width: 60%;
}

.header {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  height: 1.8rem;
}
.header .location__pages {
  height: 2.8rem;
  width: 100%;
  box-shadow: inset 0px 3px 3px -1px gray;
  background: #e7e7e7;
}
.header .location__pages .location__content {
  display: flex;
  justify-content: center;
  padding: 0.8rem 0 0 5rem;
}
.header .location__pages .location__content .location__searching {
  border: none;
  font-size: 1.2rem;
  background: #e7e7e7;
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #F4F4F4;
  height: 10rem;
  padding: 2.5rem 0;
}

.operation__step {
  list-style-type: none;
}
.operation__step .step {
  padding: 1.2rem;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  background: #F4F4F4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.operation__step .step .step__number {
  background: #9356DC;
  color: white;
  padding: 5px 8px;
  margin-left: -3.2rem;
  border-radius: 100%;
}
.operation__step .step .operation__icon {
  font-size: 1.2rem;
  color: #757575;
}

.restaurants {
  background: #F4F4F4;
  padding: 1.5rem 0;
}
.restaurants__bloc {
  background: #F4F4F4;
}
.restaurants__bloc .restaurants__cards {
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
}
.restaurants__bloc .restaurants__cards .cards__tag {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #278870;
  padding: 0.3rem;
  border-radius: 3px;
}
.restaurants__bloc .restaurants__cards .cards__pic {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
}
.restaurants__bloc .cards__description {
  position: relative;
  padding: 1rem;
}
.restaurants__bloc .cards__description .cards__title {
  margin: 0;
}
.restaurants__bloc .cards__description .cards__location {
  margin: 0;
}
.restaurants__bloc .cards__description .cards__btn {
  position: absolute;
  font-size: 1.5rem;
  color: #666666;
  right: 20px;
  top: 20px;
}

#footer {
  background: #333333;
}

.footer__container .footer__logo {
  filter: invert(1);
  width: 45%;
  margin-top: 1.2rem;
}
.footer__container .footer__items > a {
  color: white;
  line-height: 1.5rem;
}
.footer__container .footer__items > a .items__icon {
  width: 10%;
}

.headermenu {
  display: flex;
  justify-content: center;
}
.headermenu__logo > img {
  height: 1.8rem;
  margin-bottom: 0.5rem;
}
.headermenu .header__logo {
  font-size: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
}

.menu__pic {
  width: 100%;
  object-fit: cover;
}

.menu__container {
  background: #F4F4F4;
  border-radius: 35px 35px 0 0;
  position: relative;
  margin-top: -3rem;
}
.menu__container .menu__heading {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__container .meal {
  display: flex;
  flex-direction: column;
}
.menu__container .meal__title {
  border-bottom: 3px solid #99E2D0;
  height: 1.5rem;
  width: 2.5rem;
  margin-bottom: 1.2rem;
}
.menu__container .meal__bloc {
  background: white;
  border-radius: 15px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
.menu__container .meal__bloc .meal__content {
  display: flex;
  justify-content: space-between;
}
.menu__container .meal__bloc .meal__content .meal__contentpricebox {
  display: flex;
}
.menu__container .meal__bloc .meal__content .meal__contentpricebox .meal__contenthidden {
  display: none;
}
.menu__container .meal .order {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
