.header {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: $logo-size;
        padding: 0.8rem;
    }
    .location__pages {
        height: 2.8rem;
        width: 100%;
        box-shadow: inset 0px 3px 3px -1px gray;
        background: darken($color: $color-bg, $amount: 5);
        .location__content {
            display: flex;
            justify-content: center;
            padding: 0.8rem;
            .location__searching {
                border: none;
                width: 10rem;
                font-size: 1.2rem;
                background: darken($color: $color-bg, $amount: 5);
            }
        }
    }
}
