.header {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: $logo-size;
    }
    .location__pages {
        width: 100%;
        height: 2.5rem;
        background-color: $color-bg;
        .location__searching {
            border: none;
            background-color: $color-bg;
            font-weight: 700;
        }
    }
}
