.btn__search {
    background: linear-gradient(170deg, $colour-secondary, $colour-primary);
    color: $color-btn;
    padding: 1rem;
    border-radius: 25px;
    text-align: center;
    width: 60%;
    cursor: pointer;
}