
.core__empty::before {
   position: relative;
   &:hover {
    display: none;
}

}
.core__full {
    position: absolute;
    right: 0.5px;
    background: linear-gradient( $colour-secondary, $colour-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $colour-secondary;
    opacity: 0;
    &:hover {
        transition: 2s;
        opacity: 1;  
    }
}