
.core__empty::before {
   position: relative;
   
}
.core__full {
    position: absolute;
    right: 0.5px;
    background: linear-gradient( $colour-secondary, $colour-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $colour-primary;
    opacity: 0;
    &:hover {
        transition: 4s;
        opacity: 1;  
    }
}