@keyframes enter {
    0% {
    transform: translateX(0px);
    }
    100% {
    transform: translateX(-9999px);
    }
}
@keyframes bar {
  
    0% {
    transform: scale(0.2);
    }
    100% {
    transform: scale(0.8);
    }
    
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba( 255, 255, 255, 0.9);
    z-index: 3;
    animation: enter 0s 4s ease-in-out both;
    &__bar {
      background: linear-gradient(170deg,#9356DC, #FF79DA);
      height: 30px;
      width: 30px;
      border-radius: 100%;
      animation: bar 1000ms alternate-reverse infinite;
    } 
  }
  