body {
    box-sizing: border-box;
    .operation {
        padding: 0 15px;
    }
    .restaurants__bloc {
        padding: 0 15px;
    }
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}