body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.menu__title {
    font-family: 'Shrikhand';
}
.meal__title {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}
.meal-card__title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 0.2rem 0;
}
.meal-card__detail {
    font-size: 0.9rem;
    font-weight: 300;
}
.meal-card__price {
    font-size: 0.9rem;
    font-weight: 700;
}
.fa-heart {
    font-size: 1.5rem;
}
.logo {
    height: $logo-size;
    padding: 0.8rem;
}