.headermenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    &__logo {
        height: 1.8rem;
    }
    &__arrow {
        font-size: 1.3rem;  
    }
}
.menu__pic {
    max-height: 480px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.menu__container {
    background: $color-bg;
    border-radius: 35px 35px 0 0;
    position: relative;
    margin-top: -3rem;
   .menu__heading {
       display: flex;
       justify-content: space-between;
       align-items: center;
       .core__full {
           right: 0.9rem;
       }
   }
   .meal {
       display: flex;
       flex-direction: column; 
       &__title {
           border-bottom: 3px solid $colour-tertiary;
           height: 1.2rem;
           width: 2.5rem;
           margin-bottom: 1.2rem;
       }
        .meal-card {
           background: $color-btn;
           border-radius: 15px;
           margin-bottom: 2rem;    
           box-shadow: 5px 5px 10px rgb(0 0 0 / 14%); 
           display: flex;
           justify-content: space-between;
           cursor: pointer;
           &__infos {
               display: flex;
               flex-direction: column;
               flex-grow: 1;
               width: 70%;
               padding: 0.5rem;
               line-height: 1.2rem;
               overflow: hidden;
               white-space: nowrap;
                .meal-card__title, .meal-card__detail {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
           }
           &__price {
               display: flex;
               align-items: flex-end;
               padding: 0.5rem 0.5rem 0.5rem 0;
           }
           &__hiddenbox {
               width: 0%;
               overflow: hidden;
               background: #99E2D0;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 0 15px 15px 0;
               color: white; 
           }
       }
       .order {
           display: flex;
           justify-content: center;
       }
   }
}